/**************************************************** header */
.main-tile h1 {
  margin: 0.5rem 0;
  font-size: 3rem;
}

@media (min-width: 800px) {
  .main-tile h1 {
    margin: 0;
    font-size: 4rem;
  }
}
